.Filters__list
    padding 0
    margin 30px 0
    margin-bottom 50px
    display flex
    flex-direction row
    justify-content space-between
    align-items flex-start
    list-style none

@media(max-width: tablet-width)
    .Filters__list
        flex-direction column



