.ItemsForm__list
    margin 0
    padding 0  
    margin-right 20px
    list-style none

.ItemsForm__item
    display flex
    flex-direction row
    align-items center
    width 305px
    margin 0

.ItemsForm__label
    width 200px 
    marginRight 10px

.ItemsForm__select
    margin 0

@media(max-width: desktop-width)
    .ItemsForm
        width 100%
        
    .ItemsForm__item
        width 100%

@media(max-width: mobile-width)
    .ItemsForm__item
        width 100%
    .ItemsForm__list
        margin-right 0
