.items-form__list
    margin 0
    padding 0  
    margin-right 20px
    list-style none

.items-form__item
    display flex
    flex-direction row
    align-items center
    width 305px
    margin 0

.items-form__label
    width 200px 
    marginRight 10px

.items-form__select
    margin 0

@media(max-width: 1250px)
    .items-form
        width 100%
        
    .items-form__item
        width 100%

@media(max-width: 700px)
    .items-form__item
        width 100%
    .items-form__list
        margin-right 0
