.Pagination
    margin 0
    padding 0
    display flex
    flex-direction row
    justify-content space-between
    width 50%
    margin-left auto
    list-style none

.Pagination__item
    display flex
    justify-content center
    align-items center

.Pagination__link
    display inline-block
    width 40px
    height auto
    color text-color 
    font-size 20px
    padding 5px 10px
    line-height 30px
    border-radius 2px
    text-align center
    text-decoration none
    &:hover
        background-color rgba(text-color, 0.2)
        transition 0.3s background-color ease
    &--disabled,
    &:disabled
        cursor default
        opacity 0.5
        pointer-events none
    &--nav
        width 25px
        height 25px
        background-position 0 0
        background-repeat no-repeat
        background-size contain
        &:hover
            background-color transparent      
    &--start
        background-image url("./assets/first-page-icon.svg")
    &--end
        background-image url("./assets/first-page-icon.svg")
        transform rotate(180deg)
    &--previous
        width 20px
        height 20px
        background-image url("./assets/previous-page-icon.svg")
    &--next
        width 20px
        height 20px
        background-image url("./assets/previous-page-icon.svg")
        transform rotate(180deg)
    &--active
        background-color active-color
        color background-color
        pointer-events none

@media(max-width: desktop-width)
    .Pagination
        width 100%
        margin-top 20px
    .Pagination__item
        &--form
            width 50%

@media(max-width: mobile-width)
    .Pagination
        // flex-direction column
        flex-wrap wrap
    .Pagination__item
        &--form
            width 100%
            margin-bottom 30px