.Table
    width 100%
    font-size 15px
    border-collapse collapse
    &:hover
        transition box-shadow .25s
        box-shadow 0 8px 17px 0 rgba(text-color, 0.2), 0 6px 20px 0 rgba(text-color, 0.19)

.Table__tr
    border-bottom 1px solid border-color

.Table__th,
.Table__td
    padding 15px 5px
    display table-cell
    text-align left
    vertical-align middle
    border-radius 2px

.Table__td
    &--description
        width 290px
        padding-left 30px
        padding-right 30px
    &--episodes
        padding-left 20px

.Table__th
    width 70px
    &--description
        width 290px
        padding-left 30px
        padding-right 30px
    &--genres
        width 102px
    &--status
        width 65px
    &--title
        width 85px
    &--poster
        width 200px
    &--number
        width 67px