.Table
    width 100%
    margin-top 10px
    font-size 15px
    border-collapse collapse
    &:hover
        transition box-shadow .25s
        box-shadow 0 8px 17px 0 rgba(text-color, 0.2), 0 6px 20px 0 rgba(text-color, 0.19)

.Table__tr
    border-bottom 1px solid border-color

.Table__th,
.Table__td
    padding 15px 5px
    display table-cell
    text-align left
    vertical-align middle
    border-radius 2px

.Table__td
    &--description
        width 290px
        padding-left 30px
        padding-right 30px
    &--episodes
        padding-left 20px

.Table__th
    width 5%
    &--description
        width 22%
        padding-left 30px
        padding-right 30px
    &--genres
        width 8%
    &--status
        width 5%
    &--title
        width 7%
    &--poster
        width 15%
    &--number
        width 4%


@media(max-width: tablet-width)
    .Table
        font-size 12px

@media(max-width: mobile-width)
    .Table__td
        &--genres,
        &--description,
        &--status,
        &--number
            display none
    
    .Table__th
         &--genres,
         &--description,
         &--status,
         &--number
            display none
